ion-header {
    ion-toolbar {
        &.mail {
            height: 40px;
            --min-height: 40px;
        }
        &:not(.mail) {
            height: 60px;
            --min-height: 60px;
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            ion-icon {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
        ion-grid {
            padding: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            ion-button.landing {
                margin: 0;
                font-weight: 600;
                font-size: 17px !important;
                ion-icon {
                    width: 30px;
                    height: 30px;
                }
            }
            img {
                height: 40px;
            }
        }
    }
}

ion-content {
    ion-grid.landing {
        padding: 0;
        img {
            border-radius: 7px;
        }
        ion-row {
            width: 100%;
            max-width: 1080px;
            margin: auto;
        }
        ion-list {
            background: transparent !important;
            ion-item {
                --background: transparent;
                ion-label {
                    font-weight: 500;
                    font-size: 20px !important;
                }
                ion-icon {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        h2 {
            font-size: 30px;
            line-height: 36px;
            font-weight: 600;
            @media (max-width: 567px) {
                font-size: 25px;
            }
        }
        .main {
            background: url('../../../assets/landing/banner1.jpg');
            background-attachment: fixed;
            min-height: 700px;
            background-size: cover;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-position: center top;
            h1 {
                font-size: 50px;
                font-weight: 600;
            }
            p {
                font-size: 25px;
            }
        }
        .floating-boxes {
            position: relative;
            ion-row {
                position: relative;
                @media (min-width: 567px) {
                    top: -120px;
                }
            }
            .square {
                position: relative;
                &:hover {
                    h4 {
                        background: #fff !important;
                        &::before {
                            transform: rotate(30deg);
                            opacity: 1 !important;
                        }
                    }
                }
                img {
                    max-height: 320px;
                }
                .content {
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    h4 {
                        border-radius: 50%;
                        transition: 0.4s;
                        font-weight: 600;
                        background: rgb(232, 232, 232);
                        padding: 20px;
                        width: 130px;
                        height: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 40px;
                        &::before {
                            opacity: 0.4;
                            width: 160px;
                            height: 160px;
                            transition: 0.4s;
                            position: absolute;
                            content: url('../../../assets/landing/circle.svg');
                        }
                        &::after {
                            content: "";
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            position: absolute;
                            border: 2px solid #061348;
                        }
                    }
                    p {
                        width: 100%;
                        margin: 0;
                        color: #fff;
                        font-size: 24px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .community {
            margin: 40px auto;
            @media (min-width: 568px) {
                .textos {
                    padding-left: 40px;
                }
            }
        }
        .experts {
            min-height: 700px;
            background: url('../../../assets/landing/expert_background.jpg');
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px 0;
            background-position: center;
            background-size: cover;
            @media (min-width: 568px) {
                .textos {
                    padding-left: 40px;
                }
            }
        }
        .platform {
            padding: 70px 0;
            p {
                font-size: 18px;
                line-height: 30px;
                padding: 0 20px;
            }
            h2 {
                padding: 0 20px;
            }
        }
        .positions {
            padding: 70px 0;
            background-color: #061348;
            // background-image: url($fondo);
            h2 {
                font-size: 35px;
                margin-top: 0;
                margin-bottom: 30px;
            }
            h6 {
                font-size: 20px;
            }
        }
        .backoffice {
            padding: 70px 0;
            ion-row {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }
        }
        .hiring {
            ion-card {
                max-width: 98%;
                padding: 30px 0;
                margin: 20px auto 50px;
            }
            h2 {
                font-size: 36px;
                font-weight: 600;
            }
            p {
                font-size: 36px;
                font-style: italic;
            }
        }
        .commitment {
            background-color: #061348;
            // background-image: url($fondo);
            text-align: center;
            padding: 40px 0;
            color: #fff;
            h4 {
                font-size: 40px;
                margin: 50px 0;
            }
            p {
                font-size: 22px;
                margin-bottom: 0;
            }
        }
        .logos {
            padding: 50px 0;
            img {
                max-height: 70px;
                opacity: 0.4;
                transition: 0.4s;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .contact-us {
            background: var(--ion-color-secondary);
            padding: 50px 0;
            ion-item {
                color: #fff;
                --transition: 0.4s;
                --min-height: 80px;
                --background: #ee6e1e;
                margin-bottom: 5px;
                --border-radius: 5px;
                p {
                    color: #fff;
                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
                h5 {
                    font-weight: 600;
                }
                &:hover {
                    --background: transparent;
                }
                ion-icon {
                    color: #ffffff;
                    height: 25px;
                    width: 25px;
                }
            }
            form {
                background: #fff;
                border-radius: 7px;
                padding: 25px;
                ion-item {
                    color: #000;
                    --background: transparent;
                }
            }
        }
        .border {
            border-radius: 3px;
            border: 2px solid;
            width: max-content;
            font-size: 16px;
            padding: 5px 15px;
            font-weight: 600;
            margin: 10px;
            &.orange {
                color: var(--ion-color-secondary)
            }
            &.white {
                color: var(--ion-color-light)
            }
        }
        .btn-red {
            --background: red;
        }
        ion-button {
            font-weight: 600;
            font-size: 17px !important;
            ion-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
    ion-footer.landing {
        img {
            max-height: 35px;
        }
        ion-icon {
            cursor: pointer;
            height: 35px;
            margin: 0 20px 0 0;
            width: 35px;
            &[name="logo-youtube"] {
                margin-right: 100px;
            }
        }
    }
    ion-fab-button.landing {
        ion-icon {
            width: 30px;
            height: 30px;
        }
    }
}