ion-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card {
    ion-card-header {
        padding-bottom: 10px
    }
    ion-item {
        --min-height: 20px !important;
        ion-label,
        ion-icon {
            margin-top: 0;
            span {
                &.red {
                    color: red;
                }
                &.green {
                    color: green;
                }
            }
        }
    }
}