ion-card.experience {
    background: rgba(236, 94, 4, 0.1);
    margin-bottom: 20px;
    ion-item {
        --background: transparent;
    }
}

.success {
    max-width: 300px;
    text-align: center;
    margin: 50px auto;
    ion-icon.icon-s {
        width: 80px;
        height: 80px;
    }
    ion-icon.icon-m {
        width: 30px;
        height: 30px;
    }
    ion-card-title {
        font-size: 25px;
        margin-bottom: 30px;
    }
}

ion-button {
    --padding-start: 0;
    --padding-end: 0;
}

a {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}