ion-card {
    ion-card-content {
        padding-top: 0;
        padding-bottom: 0;
        ion-col {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text {
            font-size: 18px;
        }
        .qty {
            font-size: 30px;
            font-weight: 600;
        }
    }
}