<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Missions under Review
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngIf="loading">
                <app-no-missions [type]="'You do not have Missions under Review'" [icon]="'rocket-outline'"></app-no-missions>
            </ion-col>
            <ion-col size-md="6" size="12" *ngFor="let mur of missionUnderReview">
                <ion-card mode="ios">
                    <ion-card-header>
                        <ion-card-subtitle color="tertiary">Created on {{mur.create_date | date: 'd/MM/y - hh:mmaaa'}}</ion-card-subtitle>
                        <ion-card-title color="secondary">
                            <h3>{{mur.name_position}}</h3>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none" *ngIf="c$ | async as c">
                            <ion-icon color="medium" name="cash" slot="start"></ion-icon>
                            <ion-label><strong>Cost:</strong> {{(mur.net_salary * c.create_mission) | currency : '$ '}}
                            </ion-label>
                            <div tabindex="0" style="height: 0;"></div>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-icon color="medium" name="fitness" slot="start"></ion-icon>
                            <ion-label><strong>Payment Status:</strong> <span [ngClass]="{'red': mur.status_payment === 'Pending', 'green': mur.status_payment === 'Paid'}"> {{mur.status_payment}}</span>
                            </ion-label>
                            <div tabindex="0" style="height: 0;"></div>
                        </ion-item>
                        <ion-item lines="none">
                            <ion-icon color="medium" name="rocket-sharp" slot="start"></ion-icon>
                            <ion-label><strong>Mission status:</strong> Review
                            </ion-label>
                            <div tabindex="0" style="height: 0;"></div>
                        </ion-item>
                        <ion-buttons>
                            <ion-button fill="solid" shape="round" color="primary" (click)="missionView(mur)">Edit Mission</ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>