<ion-content id="register" #topPage>
    <ion-grid fixed>
        <ion-row class="logoBapp">
            <ion-icon color="primary" [routerLink]="['/login']" name="chevron-back-outline"></ion-icon>
            <ion-col size="12">
                <img src="assets/img/logo_horizontal.png" alt="">
                <ion-text>
                    <h5>Recruiter Profile</h5>
                </ion-text>
            </ion-col>
        </ion-row>

        <form [formGroup]="form" (submit)="getDataRegister()" novalidate>
            <ion-row>
                <ion-col size="6">
                    <div class="avatar">
                        <label for="files">
                            <img *ngIf="imgAvatar" [src]="imgAvatar" alt="" id="imgAvatar">
                            <div class="foto" id="list">
                                <ion-icon color="primary" *ngIf="!imgAvatar" name="camera-outline"></ion-icon>
                                <p *ngIf="!imgAvatar">Add<br>Avatar</p>
                                <canvas #canvas id="canvas-recruiter" height="0" class="ion-hide"></canvas>
                            </div>
                        </label>
                        <input class="ion-hide" type="file" id="files" name="files[]" (change)="uploadImg($event, 'canvas-recruiter')" accept="image/*" />
                    </div>
                    <div *ngIf="imgAvatar" class="girar" (click)="rotateImg('canvas-recruiter')">
                        <ion-icon color="primary" name="camera-reverse-outline"></ion-icon> Rotate Avatar
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Nickname</ion-label>
                        <ion-input matInput type="text" name="nickname" formControlName="nickname" id="nickname"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('nickname').errors && form.get('nickname').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('nickname').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('nickname').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Full Name</ion-label>
                        <ion-input matInput type="text" name="name" formControlName="name" id="name"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('name').errors && form.get('name').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('name').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('name').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size-md="6" size="12">
                    <ion-item class="email">
                        <ion-label position="floating">E-mail</ion-label>
                        <ion-input type="email" name="email" formControlName="email" id="email"></ion-input>
                    </ion-item>
                    <div class="error textMailExists" *ngIf="mailExists">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>This e-mail already exists in our system.
                        </ion-text>
                    </div>
                    <div class="error" *ngIf="form.get('email').errors && form.get('email').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('email').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('email').hasError('pattern')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Enter a valid email.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="6" size="12">
                    <ion-item class="email">
                        <ion-label position="floating">Confirm E-mail</ion-label>
                        <ion-input type="email" name="confirm_email" formControlName="confirm_email" id="confirm_email"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.hasError('emailNotEqual') &&  form.get('confirm_email').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>The emails do not match.
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size-md="6" size="12">
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" name="pass" formControlName="pass" id="pass"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('pass').errors && form.get('pass').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('pass').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('pass').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least six characters.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="6" size="12">
                    <ion-item>
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input type="password" name="confirm_pass" formControlName="confirm_pass" id="confirm_pass"></ion-input>
                    </ion-item>

                    <div class="error" *ngIf="form.hasError('passwordsNotEqual') &&  form.get('confirm_pass').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Passwords do not match.
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Address</ion-label>
                        <ion-input matInput type="text" name="address" formControlName="address" id="address"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('address').errors && form.get('address').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('address').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <app-date (date)="buildDate($event)" [title]="'Fecha de Nacimiento'"></app-date>
                    <div class="error" *ngIf="!dateValid">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Date of Birth.
                        </ion-text>
                    </div>
                </ion-col>
                <!-- <ion-col size-md="6" size="9">
                    <ion-item lines="none">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de nacimiento</mat-label>
                            <input onlyread #birthdate matInput [matDatepicker]="dp3" formControlName="birthdate" disabled [max]="currentDate" (dateChange)="getAgeOfService(birthdate.value)">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('birthdate').errors && form.get('birthdate').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('birthdate').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>La fecha de nacimiento es requerida.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="6" size="3">
                    <ion-item>
                        <ion-label position="floating">Edad</ion-label>
                        <ion-input [attr.disabled]="true" [value]="currentAge"></ion-input>
                    </ion-item>
                </ion-col> -->
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Telephone Number</ion-label>
                        <ion-input matInput type="tel" name="personal_phone" formControlName="personal_phone" id="personal_phone"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('personal_phone').errors && form.get('personal_phone').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('personal_phone').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('personal_phone').hasError('pattern')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Only numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('personal_phone').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least ten numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('personal_phone').hasError('maxlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Must have maximum ten numbers.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Passport Card</ion-label>
                        <ion-input matInput type="text" name="curp" formControlName="curp" id="curp"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('curp').errors && form.get('curp').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('curp').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('curp').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least four numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('curp').hasError('maxlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Must have maximum four numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('curp').hasError('pattern')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Enter a valid Passport Card.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">TIN Number</ion-label>
                        <ion-input matInput type="text" name="rfc" formControlName="rfc" id="rfc"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('rfc').errors && form.get('rfc').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('rfc').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('rfc').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least nine numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('rfc').hasError('maxlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Must have maximum nine numbers.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Education</ion-label>
                        <ion-select interface="popover" formControlName="level_of_study" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of studies$ | async" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">College Degree</ion-label>
                        <ion-input matInput type="text" name="career" formControlName="career" id="career"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Areas of interest</ion-label>
                        <ion-select interface="popover" formControlName="area_of_interest" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of area$ | async" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-text>
                <h5>Bank information – This information is required to process mission payments.</h5>
            </ion-text>
            <ion-row>
                <ion-col size-md="7" size="12">
                    <ion-item>
                        <ion-label position="floating">Bank</ion-label>
                        <ion-select interface="popover" formControlName="name_bank" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of banks$ | async" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('name_bank').errors && form.get('name_bank').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('name_bank').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="5" size="12">
                    <ion-item>
                        <ion-label position="floating">ABA|Swift Code</ion-label>
                        <ion-input matInput type="tel" name="clabe" formControlName="clabe" id="clabe"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('clabe').errors && form.get('clabe').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('clabe').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('clabe').hasError('pattern')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Only numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('clabe').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least eighteen numbers.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('clabe').hasError('maxlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Must have maximum eighteen numbers.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Account Number</ion-label>
                        <ion-input matInput type="tel" name="account_number" formControlName="account_number" id="account_number"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('account_number').errors && form.get('account_number').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('account_number').hasError('pattern')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Only numbers.
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>

            <p class="contracts">By creating the account, I acknowledge that I have read and accepted the <span (click)="openContracts('TERMINOS-Y-CONDICIONES-RECLUTADORES-98-TANK-VF')">Terms of Use</span> and the <span (click)="openContracts('POLITICA-DE-PRIVACIDAD-98-TANK-VF')">Privacy Policy</span>.</p>

            <ion-row class="ion-margin">
                <ion-col>
                    <ion-button shape="round" color="primary" type="submit" expand="full">Create Account</ion-button>
                </ion-col>
            </ion-row>
        </form>


    </ion-grid>

</ion-content>