<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/admin/candidatos'" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Candidate
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="candidate">
        <app-candidate-data [candidate]="candidate"></app-candidate-data>
        <div class="buttons">
            <ion-button fill="solid" shape="round" color="primary" *ngIf="candidate.status !== 'Hired'" (click)="alertDelete(candidate)">Delete candidate</ion-button>
            <ion-button fill="solid" shape="round" color="primary" (click)="openEditCandidate(candidate)">Edit candidate</ion-button>
        </div>
        <app-recruiter-data [uid]="candidate.uid_recruiter"></app-recruiter-data>
        <ion-card mode="ios" style="background: red;">
            <app-reason-rejection *ngIf="candidate.status === 'Discarded'" [reason]="candidate.reason_discard"></app-reason-rejection>
        </ion-card>
    </ion-grid>

</ion-content>