<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Recruiters
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <app-users-summations [text]="'Total Recruiters'" [qty]="totalRecruiter"></app-users-summations>
        <div class="materialtable">
            <ion-card mode="ios">
                <ion-card-content class="ion-no-padding">
                    <ion-searchbar debounce="200" type="search" animated placeholder="Find a Recruiters" autocorrect="on" (ionChange)="applyFilter($event)"></ion-searchbar>

                    <table mat-table [dataSource]="dataSource" matSort matSort matSortActive="Last.Session" matSortDirection="desc" aria-describedby="Recruiters">
                        <ng-container matColumnDef="Email">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Email</th>
                            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Recruiters">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Recruiter</th>
                            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Register">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Register</th>
                            <td mat-cell *matCellDef="let element">{{ element.registerDate | date }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Last.Session">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Last.Session</th>
                            <td mat-cell *matCellDef="let element">{{ element.lastSession | date: 'MMMM d, y - hh:mmaaa' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef scope="row">Status</th>
                            <td mat-cell [ngClass]="{'active': element.status === 'Active', 'pending': element.status === 'Pending', 'block': element.status === 'Block'}" *matCellDef="let element">{{ element.status }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row (click)="clickedRows(row)" *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page of recruiter">
                    </mat-paginator>
                </ion-card-content>
            </ion-card>
        </div>
        <!-- <div class="table">
            <ion-card mode="ios">
                <ion-card-content>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Email</th>
                                <th>Reclutador</th>
                                <th>Miembro desde</th>
                                <th>Ult.Sesión</th>
                                <th>Estatus</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of recruiter">
                                <td>
                                    <ion-icon name="person-sharp"></ion-icon>
                                </td>
                                <td>{{r.profile.email}}</td>
                                <td>{{r.profile.name}}</td>
                                <td>{{r.profile.registerDate | date}}</td>
                                <td>{{r.profile.lastSession | date}}</td>
                                <td [ngClass]="{'active': r.profile.status === 'Active', 'block': r.profile.status === 'Block'}">{{r.profile.status}}</td>
                                <td>
                                    <ion-button class="more" fill="solid" shape="round" color="primary" [routerLink]="['/admin/reclutador/', r.profile.uid]">Ver</ion-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ion-card-content>
            </ion-card>
        </div> -->
    </ion-grid>

</ion-content>