<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start" *ngIf="candidate$ | async as c">
            <ion-back-button [defaultHref]="'reclutador/misiones-activas/mision/'+c.mission_id" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Candidate
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row *ngIf="candidate$ | async as c">
            <ion-col size="12">
                <app-candidate-data [candidate]="c"></app-candidate-data>
            </ion-col>
            <ng-container *ngIf="auth.userUid === c.uid_recruiter">
                <ion-col size="12" *ngIf="c.status === 'Active'">
                    <ion-buttons class="actions">
                        <ion-button color="primary" fill="solid" shape="round" (click)="openEditCandidate(c)">Edit</ion-button>
                        <ion-button color="primary" fill="solid" shape="round" (click)="openAlertDelete(c, c.mission_id)">Remove</ion-button>
                    </ion-buttons>
                </ion-col>
                <ng-container *ngIf="c.status === 'Active'">
                    <ion-col size="12" *ngIf="c.interview?.status === 'pending'">
                        <app-pending-interview [candidate]="c" [recruiter]="true"></app-pending-interview>
                    </ion-col>
                    <ion-col size="12" *ngIf="c.interview?.status === 'selected'">
                        <app-interview-accepted [candidate]="c"></app-interview-accepted>
                    </ion-col>
                </ng-container>

                <ion-col size="12" *ngIf="c.status === 'Discarded'">
                    <app-reason-rejection [reason]="c.reason_discard"></app-reason-rejection>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>

</ion-content>