<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Misiones Elegidas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row class="filters">
            <ion-col size-md="5" size="12">
                <ion-text>Filtra tus misiones</ion-text>
                <ion-item>
                    <ion-label position="floating">Estatus</ion-label>
                    <ion-select [value]="active" interface="popover" cancelText="Cancelar" okText="Aceptar" (ionChange)="filterArea($event)">
                        <ion-select-option value="all">Todas</ion-select-option>
                        <ion-select-option *ngFor="let s of status" [value]="s">{{s}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="noMission">
                <app-no-missions [type]="'seleccionada'" [icon]="'rocket-outline'"></app-no-missions>
            </ion-col>
            <ng-container *ngIf="loading">
                <ion-col size-md="6" size="12" *ngFor="let s of [1,1]">
                    <app-skeleton-card></app-skeleton-card>
                </ion-col>
            </ng-container>
            <ng-container *ngIf="selectedMissions">
                <ion-col size-md="6" size="12" *ngFor="let mission of selectedMissions | filter: 'status': active">
                    <app-mission-card [mission]="mission" [route]="route" [type]="'recruiter'"></app-mission-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>
</ion-content>