<ion-header class="ion-no-border header-modal">
    <ion-toolbar>
        <img slot="start" src="assets/img/logo_horizontal.png" alt="98Tank" />
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="primary" expand="full">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-card mode="ios">
            <ion-card-header color="primary">
                <ion-title>Candidato Hired</ion-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-icon color="secondary" name="person" slot="start"></ion-icon>
                    <ion-label><strong>Candidato: </strong>{{data.name_candidate}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="cube" slot="start"></ion-icon>
                    <ion-label><strong>Tipo de contrato: </strong>{{data.contract_type.type}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="cash" slot="start"></ion-icon>
                    <ion-label><strong>Sueldo Neto: </strong>{{data.net_salary | currency: '$ '}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="trophy" slot="start"></ion-icon>
                    <ion-label><strong>Recompensa: </strong>{{ data.reward | currency: '$ '}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="person-add" slot="start"></ion-icon>
                    <ion-label><strong>Reclutado por: </strong>{{data.recruiter}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="mail" slot="start"></ion-icon>
                    <ion-label><strong>Correo del reclutador: </strong>{{data.email}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="business" slot="start"></ion-icon>
                    <ion-label><strong>Banco: </strong>{{data.name_bank}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="warning" slot="start"></ion-icon>
                    <ion-label><strong>Cuenta clabe: </strong>{{data.clabe}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon color="secondary" name="warning" slot="start"></ion-icon>
                    <ion-label><strong>Numero de cuenta: </strong>{{data.account_number}}</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-icon color="secondary" name="pulse-outline" slot="start"></ion-icon>
                    <ion-label><strong>Estatus: </strong>{{data.status}}</ion-label>
                </ion-item>
                <ion-card mode="ios">
                    <ion-card-header color="secondary">
                        <ion-title>Adjunto recibo de pago</ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-col size="12" *ngIf="data.pay !== null">
                            <ion-item>
                                <ion-label>
                                    <h3>{{data.pay?.name}}</h3>
                                </ion-label>
                                <ion-icon (click)="watch()" color="primary" name="eye-outline" slot="end"></ion-icon>
                                <ion-icon (click)="deletePay()" color="danger" name="trash-outline" slot="end"></ion-icon>
                                <div tabindex="0" style="height: 0;"></div>
                            </ion-item>
                        </ion-col>
                        <ion-col size="12">
                            <ion-progress-bar *ngIf="((ms.uploadPercent | async) / 100) !== 0" [value]="(ms.uploadPercent | async) / 100"></ion-progress-bar>
                        </ion-col>
                        <ion-col size="12" *ngIf="data.pay === null">
                            <ion-text>Debes adjuntar el comprobante de pago y guardar para dar por <strong>Pagada</strong> la recompensa al reclutador</ion-text>
                        </ion-col>
                        <ion-item lines="none" class="center">
                            <app-attach-file (url)="getUrl($event)" [path]="'pago_recompensas'"></app-attach-file>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-card-content>
        </ion-card>
    </ion-grid>
    <ion-row>
        <ion-col size="12" class="ion-text-center">
            <ion-button class="more" fill="solid" shape="round" color="primary" (click)="closeModal()">Salir</ion-button>
        </ion-col>
    </ion-row>
</ion-content>