<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/admin/misiones-activas'" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Mission
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="mission$ | async as m">
        <app-mission-data [mission]="m"></app-mission-data>
        <app-contact-for-service [m]="m" *ngIf="m.status === 'Completed'"></app-contact-for-service>
        <app-payment-view [pay]="m.pay" [message]="'misión'"></app-payment-view>
        <app-edit-payments-admin [mission]="m"></app-edit-payments-admin>
        <ion-row>
            <ion-col size="12">
                <ion-buttons class="actions">
                    <ion-button *ngIf="m.status === 'Pending'" color="primary" fill="solid" shape="round" (click)="changeStatus(m, 'Active')">Active mission</ion-button>
                    <ion-button color="primary" fill="solid" shape="round" (click)="editAllMission(m)" *ngIf="((adminType$ | async) === 'superAdmin')">Edit mission</ion-button>
                    <ion-button color="primary" fill="solid" shape="round" (click)="changeStatus(m, 'Active')" *ngIf="m.status === 'Cancelled'">Active mission</ion-button>
                    <ion-button *ngIf="m.status !== 'Cancelled'" color="primary" fill="solid" shape="round" (click)="changeStatus(m, 'Cancelled')">Cancel mission</ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <app-candidate-list [missionId]="m.mission_id" [route]="'/admin/candidato'"></app-candidate-list>
        <app-client-data [uid]="m.uid"></app-client-data>
    </ion-grid>
</ion-content>