<ion-card>
    <ion-row class="squares">
        <ion-col size-md="12" size="6" *ngIf="candidate.status === 'Active'">
            <ion-card>
                <ion-icon name="calendar-outline"></ion-icon>
                <br>
                <ion-button fill="solid" shape="round" color="primary" (click)="createInterview()">Interview</ion-button>
            </ion-card>
        </ion-col>
        <ion-col size-md="12" size="6" *ngIf="candidate.status === 'Active'">
            <ion-card>
                <ion-icon name="close-circle-outline"></ion-icon>
                <br>
                <ion-button fill="solid" shape="round" color="primary" (click)="openAlertDiscard()">Discard</ion-button>
            </ion-card>
        </ion-col>
        <ion-col size-md="12" size="6" *ngIf="candidate.status === 'Discarded'">
            <ion-card>
                <ion-icon name="person-outline"></ion-icon>
                <br>
                <ion-button fill="solid" shape="round" color="primary" (click)="openAlertActive()">Activate</ion-button>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-card>