<ion-header class="ion-no-border header-modal">
    <ion-toolbar>
        <img slot="start" src="assets/img/logo_horizontal.png" alt="98Tank" />
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" color="primary" expand="full">
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="data">
    <ion-row>
        <ion-col>
            <iframe width="100%" height="500px" *ngIf="data.type === 'application/pdf'; else image" [src]="data.url"></iframe>
            <ng-template #image>
                <ion-img [src]="data.url"></ion-img>
            </ng-template>
        </ion-col>
    </ion-row>
</ion-content>