p {
    text-align: center;
}

ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-button {
        min-width: 100px;
    }
    ion-icon {
        top: 20px;
        width: 30px;
        height: 30px;
        position: relative;
    }
    &.status_payment {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .selector {
            display: flex;
            margin-left: 20px;
            align-items: center;
            ion-toggle {
                margin-right: 10px;
            }
        }
    }
}