ion-col {
    ion-card {
        margin: 0;
        font-size: 12px;
        text-align: center;
    }
}

.languages {
    text-align: center;
}

.contracted {
    background: rgb(236 94 4 / 0.1);
}

.Cancelada {
    --background: var(--ion-color-danger);
    ion-label {
        --color: var(--ion-color-danger-contrast);
    }
}

.Pendiente {
    --background: var(--ion-color-medium);
    ion-label {
        --color: var(--ion-color-medium-contrast);
    }
}

.Activa {
    --background: var(--ion-color-success);
    ion-label {
        --color: var(--ion-color-success-contrast);
    }
}