.pay {
    padding: 5%;
    margin: auto;
    max-width: 96%;
    border-radius: 10px;
    background: rgb(236 94 4 / 0.1); // background: hsl(188deg 78% 41% / 16%);
    border: 2px solid var(--ion-color-primary);
    ion-progress-bar {
        margin-bottom: 20px;
    }
    p {
        margin-top: 0;
    }
    ion-icon {
        cursor: pointer;
    }
    &.error {
        background: #fff;
        border: 2px solid red;
        h2 {
            color: #fff;
            font-size: 17px;
            @media(max-width: 576px) {
                font-size: 13px;
            }
        }
    }
}