<ion-header class="ion-no-border">
    <ion-toolbar>
        <img slot="start" src="assets/img/logo_horizontal.png" alt="98Tank logo" />
        <ion-buttons class="close" slot="end">
            <ion-icon (click)="closeModal(false)" color="primary" name="close-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #topPage>
    <ion-grid fixed>
        <ion-row *ngIf="success">
            <ion-col>
                <ion-card class="success">
                    <ion-card-header>
                        <ion-icon class="icon-s" color="success" name="checkmark-done-circle-outline"></ion-icon>
                        <ion-card-title>The mission was updated successfully</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-button fill="solid" shape="block" color="primary" (click)="closeModal(true)">Exit</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <form [formGroup]="form" (submit)="getDataMision()" novalidate *ngIf="mission && mf && !success">
            <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Job Title</ion-label>
                        <ion-input type="text" name="name_position" formControlName="name_position" id="name_position"></ion-input>
                    </ion-item>
                    <div class="error" *ngIf="form.get('name_position').errors && form.get('name_position').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('name_position').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('name_position').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="4" size="6">
                    <ion-item>
                        <ion-label position="floating">Years of Experience</ion-label>
                        <ion-select interface="popover" formControlName="years_of_experience" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.years_of_experience" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>

                    <div class="error" *ngIf="form.get('years_of_experience').errors && form.get('years_of_experience').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="4" size="6">
                    <ion-item>
                        <ion-label position="floating">Area</ion-label>
                        <ion-select interface="popover" formControlName="area" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.area" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>

                    <div class="error" *ngIf="form.get('area').errors &&  form.get('area').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>


                <ion-col size-md="4" size="6">
                    <ion-item>
                        <ion-label position="floating">Gender</ion-label>
                        <ion-select interface="popover" formControlName="sex" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.sex" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('sex').errors &&  form.get('sex').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Kind of Position</ion-label>
                        <ion-select interface="popover" formControlName="position_level" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.position_level" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('position_level').errors &&  form.get('position_level').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field. 
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col size-md="6" size="12">
                    <ion-item>
                        <ion-label position="floating">Job Type</ion-label>
                        <ion-select interface="popover" formControlName="duration" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.duration" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('duration').errors &&  form.get('duration').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col size-md="7" size="12">
                    <ion-item>
                        <ion-label position="floating">Specify the duration if necessary</ion-label>
                        <ion-textarea type="text" name="duration_details" formControlName="duration_details" id="duration_details"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col size-md="5" size="12">
                    <ion-item>
                        <ion-label position="floating">Number of interviews required</ion-label>
                        <ion-textarea type="text" name="numberInterviews" formControlName="numberInterviews" id="numberInterviews"></ion-textarea>
                    </ion-item>
                    <div class="error" *ngIf="form.get('numberInterviews').errors && form.get('numberInterviews').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('numberInterviews').hasError('required')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('numberInterviews').hasError('pattern')">
                            <ion-icon name="alert-circle-outline"></ion-icon>Only numbers.
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Estimated time for hiring</ion-label>
                        <ion-select interface="popover" formControlName="hiringTime" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of hiringTime" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('hiringTime').errors &&  form.get('hiringTime').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col size-md="4" size="6">
                    <ion-item>
                        <ion-label position="floating">Education</ion-label>
                        <ion-select interface="popover" formControlName="studies" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.studies" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>

                    <div class="error" *ngIf="form.get('studies').errors &&  form.get('studies').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.  
                        </ion-text>
                    </div>
                </ion-col>
                
                <ion-col size-md="3" size="6">
                    <ion-item>
                        <ion-label position="floating">Salary</ion-label>
                        <ion-input [attr.disabled]="!isSuperAdmin" type="text" name="net_salary" formControlName="net_salary" id="net_salary"></ion-input>
                    </ion-item>
                </ion-col>
                <!-- <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Guardias</ion-label>
                        <ion-select interface="popover" formControlName="guards" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.guards" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item> -->

                <!-- <div class="error" *ngIf="form.get('guards').errors &&  form.get('guards').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Indique si hay guardias
                        </ion-text>
                    </div>
                </ion-col> -->
                <ion-col size-md="4" size="5">
                    <ion-item>
                        <ion-label position="floating">Benefits</ion-label>
                        <ion-select interface="popover" formControlName="benefits" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.benefits" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>
                    <div class="error" *ngIf="form.get('benefits').errors &&  form.get('benefits').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size-md="5" size="7">
                    <ion-item>
                        <ion-label position="floating">Travel Availability</ion-label>
                        <ion-select interface="popover" formControlName="travel" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of mf.travel" [value]="y">{{y}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>

                    <div class="error" *ngIf="form.get('travel').errors &&  form.get('travel').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>

                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Specify the duration if necessary</ion-label>
                        <ion-textarea type="text" name="benefits_details" formControlName="benefits_details" id="benefits_details"></ion-textarea>
                    </ion-item>
                </ion-col>

                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Work Zone</ion-label>
                        <ion-input type="text" name="work_zone" formControlName="work_zone" id="work_zone"></ion-input>
                    </ion-item>

                    <div class="error" *ngIf="form.get('work_zone').errors &&  form.get('work_zone').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">State</ion-label>
                        <ion-select interface="popover" formControlName="state" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let y of states$ | async" [value]="y.name">{{y.name}}</ion-select-option>
                        </ion-select>
                        <div tabindex="0" style="height: 0;"></div>
                    </ion-item>

                    <div class="error" *ngIf="form.get('state').errors &&  form.get('state').touched">
                        <ion-text class="ion-justify-content-center" color="danger">
                            <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label position="floating">Work schedule and On Call</ion-label>
                        <ion-input type="text" name="schedule" formControlName="schedule" id="schedule"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-card mode="ios">
                        <ion-card-header color="tertiary">
                            <ion-title>English</ion-title>
                        </ion-card-header>
                        <ion-radio-group mode="md" formControlName="ingles">
                            <ion-item>
                                <ion-label>Essential</ion-label>
                                <ion-radio slot="start" value="Essential"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>Technical</ion-label>
                                <ion-radio slot="start" value="Technical"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>Intermediate</ion-label>
                                <ion-radio slot="start" value="Intermediate"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>Advanced</ion-label>
                                <ion-radio slot="start" value="Advanced"></ion-radio>
                            </ion-item>
                            <ion-item lines="none">
                                <ion-label>Not required</ion-label>
                                <ion-radio slot="start" value="Not required"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-card>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Mandatory Skills</ion-label>
                        <ion-textarea type="text" name="indispensables_skills" formControlName="indispensables_skills" id="indispensables_skills"></ion-textarea>
                        <div class="error" *ngIf="form.get('indispensables_skills').errors && form.get('indispensables_skills').touched">
                            <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('indispensables_skills').hasError('required')">
                                <ion-icon name="alert-circle-outline"></ion-icon>Required field.
                            </ion-text>
                            <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('indispensables_skills').hasError('minlength')">
                                <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                            </ion-text>
                        </div>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Preferred Skills</ion-label>
                        <ion-textarea type="text" name="desireble_skills" formControlName="desireble_skills" id="desireble_skills"></ion-textarea>
                    </ion-item>
                    <div class="error" *ngIf="form.get('desireble_skills').errors && form.get('desireble_skills').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('desireble_skills').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Courses/Certifications</ion-label>
                        <ion-textarea type="text" name="courses_and_certi" formControlName="courses_and_certi" id="courses_and_certi"></ion-textarea>
                    </ion-item>
                    <div class="error" *ngIf="form.get('courses_and_certi').errors && form.get('courses_and_certi').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('courses_and_certi').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Software Skills</ion-label>
                        <ion-textarea type="text" name="specialized_software" formControlName="specialized_software" id="specialized_software"></ion-textarea>
                    </ion-item>
                    <div class="error" *ngIf="form.get('specialized_software').errors && form.get('specialized_software').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('specialized_software').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Additional Comments</ion-label>
                        <ion-textarea type="text" name="comments" formControlName="comments" id="comments"></ion-textarea>
                    </ion-item>
                    <div class="error" *ngIf="form.get('comments').errors && form.get('comments').touched">
                        <ion-text class="ion-justify-content-center" color="danger" *ngIf="form.get('comments').hasError('minlength')">
                            <ion-icon name="alert-circle-outline"></ion-icon>It must have at least two characters.
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
            <app-validate-payment *ngIf="mission.tank_price" [pay]="mission.pay" [tankPrice]="mission.tank_price" (url)="getUrl($event)" (delete)="delete($event)"></app-validate-payment>
            <ion-row class="ion-margin">
                <ion-col>
                    <ion-button shape="round" color="primary" type="submit" expand="full">Accept</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>