<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Payment History
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="c$ | async as c">
    <ion-grid fixed>
        <ion-row>
            <ion-col size-md="6" size="12">
                <ion-card mode="ios" class="pending" color="dark" [routerLink]="['/admin/payment-history/pending']">
                    <ion-card-header>
                        <ion-title>Missions with pending payment</ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col class="quantity" size="3">{{missionPending.quantity}}</ion-col>
                            <ion-col class="amount" size="9">
                                <ion-icon name="cash-outline"></ion-icon>{{missionPending.amount * c.create_mission | currency: '$ '}}
                            </ion-col>
                            <ion-col class="more" size="12">More Info</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ng-container *ngIf="user$ | async as u">
                <ion-col size-md="6" size="12" *ngIf="u.profile.type === 'superAdmin'">
                    <ion-card mode="ios" class="complet" color="primary" [routerLink]="['/admin/payment-history/complete']">
                        <ion-card-header>
                            <ion-title>Paid Positions</ion-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col class="quantity" size="3">{{paidMissions.quantity}}</ion-col>
                                <ion-col class="amount" size="9">
                                    <ion-icon name="cash-outline"></ion-icon>{{paidMissions.amount * c.create_mission | currency: '$ '}}
                                </ion-col>
                                <ion-col class="more" size="12">More Info</ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ng-container>
            <ion-col size-md="6" size="12">
                <ion-card mode="ios" class="rewards" color="dark" [routerLink]="['/admin/payment-history/rewards']">
                    <ion-card-header>
                        <ion-title>Pending Rewards
                            <ng-container *ngIf="user$ | async as u">
                                <ion-badge color="danger" mode="ios" *ngIf="u.statistics.pending_rewards > 0">{{u.statistics.pending_rewards}}</ion-badge>
                            </ng-container>
                        </ion-title>

                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col class="quantity" size="3">{{rewardsPendiente.quantity}}</ion-col>
                            <ion-col class="amount" size="9">
                                <ion-icon name="cash-outline"></ion-icon>{{rewardsPendiente.amount | currency: '$ '}}
                            </ion-col>
                            <ion-col class="more" size="12">More Info</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="6" size="12">
                <ion-card mode="ios" class="rewards" color="secondary" [routerLink]="['/admin/payment-history/rewards']">
                    <ion-card-header>
                        <ion-title>Payed Rewards</ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col class="quantity" size="3">{{rewardsPagada.quantity}}</ion-col>
                            <ion-col class="amount" size="9">
                                <ion-icon name="cash-outline"></ion-icon>{{rewardsPagada.amount | currency: '$ '}}
                            </ion-col>
                            <ion-col class="more" size="12">More Info</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="6" size="12">
                <ion-card mode="ios" class="returns" color="dark" [routerLink]="['/admin/payment-history/returns']">
                    <ion-card-header>
                        <ion-title>Pending Reimbursements<ng-container *ngIf="user$ | async as u">
                                <ion-badge color="danger" mode="ios" *ngIf="u.statistics.pending_refound > 0">{{u.statistics.pending_refound}}</ion-badge>
                            </ng-container>
                        </ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col class="quantity" size="3">{{returnsPending.quantity}}</ion-col>
                            <ion-col class="amount" size="9">
                                <ion-icon name="cash-outline"></ion-icon>{{returnsPending.amount * c.create_mission | currency: '$ '}}
                            </ion-col>
                            <ion-col class="more" size="12">More Info</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="6" size="12">
                <ion-card mode="ios" class="returns" color="danger" [routerLink]="['/admin/payment-history/returns']">
                    <ion-card-header>
                        <ion-title>Payed Reimbursements</ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col class="quantity" size="3">{{returnsPagada.quantity}}</ion-col>
                            <ion-col class="amount" size="9">
                                <ion-icon name="cash-outline"></ion-icon>{{returnsPagada.amount * c.create_mission | currency: '$ '}}
                            </ion-col>
                            <ion-col class="more" size="12">More Info</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ng-container *ngIf="user$ | async as u">
                <ion-col size="12" *ngIf="u.profile.type === 'superAdmin'">
                    <ion-card mode="ios" color="success">
                        <ion-card-header>
                            <ion-title>Griss Profit</ion-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-row>
                                <ion-col class="amount" size="12">
                                    <ion-icon name="cash-outline"></ion-icon>{{(paidMissions.amount * c.create_mission) - rewardsPagada.amount - (returnsPagada.amount * c.create_mission) | currency: '$ '}}
                                </ion-col>
                            </ion-row>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ng-container>
        </ion-row>
    </ion-grid>