ion-img {
    margin: auto;
    max-width: 200px;
    overflow: hidden;
    border-radius: 5px;
}

a {
    color: inherit;
    margin-left: 5px;
    text-decoration: none;
    &:hover {
        font-weight: 600;
    }
}

ion-buttons {
    display: flex;
    justify-content: center;
}