<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/admin/clientes'" text="Atrás"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Cliente
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="profile | async as p">
        <ion-row>
            <ion-col size="12" *ngIf="p.avatar">
                <ion-img [src]="p.avatar"></ion-img>
            </ion-col>
            <ion-col>
                <ion-card mode="ios">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size-md="6" size="12">
                                <strong>Nombre del cliente:</strong> {{p.company_name}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Email:</strong> {{p.email}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Razón social:</strong> {{p.business_name}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>RFC:</strong> {{p.rfc}}
                            </ion-col>
                            <ion-col size="12">
                                <strong>Dirección actual:</strong> {{p.address}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Teléfono de la compañia:</strong>
                                <a [href]="'tel:'+p.phone_company">{{p.phone_company}}</a>
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Extensión:</strong> {{p.extension}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Nombre del contacto:</strong> {{p.name_contact}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Teléfono personal:</strong>
                                <a [href]="'tel:'+p.personal_phone">{{p.personal_phone}}</a>
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Giro:</strong> {{p.giro}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Banco:</strong> {{p.name_bank}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Clabe interbancaria:</strong> {{p.clabe}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Ultima sesión:</strong> {{p.lastSession | date: 'MMMM d, y - hh:mmaaa'}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card mode="ios" *ngIf="p.status === 'Bloqueado'">
                    <ion-card-header color="danger">
                        <ion-card-subtitle class="ion-text-center">Usuario bloqueado</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-text>
                            Razón del bloqueo: {{p.reason_block}}
                        </ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-buttons class="">
                    <ion-button *ngIf="(p.status !== 'Activo')" fill="solid" shape="round" color="primary" (click)="activeUser(p.uid)">Activar</ion-button>
                    <ion-button *ngIf="(p.status !== 'Bloqueado')" fill="solid" shape="round" color="primary" (click)="blockUser(p.uid)">Bloquear</ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>