<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/admin/clientes'" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Client
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="profile | async as p">
        <ion-row>
            <ion-col size="12" *ngIf="p.avatar">
                <ion-img [src]="p.avatar"></ion-img>
            </ion-col>
            <ion-col>
                <ion-card mode="ios">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size-md="6" size="12">
                                <strong>Client name:</strong> {{p.company_name}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>E-mail:</strong> {{p.email}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Company name:</strong> {{p.business_name}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>TAX ID:</strong> {{p.rfc}}
                            </ion-col>
                            <ion-col size="12">
                                <strong>Current Address:</strong> {{p.address}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Company Phone  Number:</strong>
                                <a [href]="'tel:'+p.phone_company">{{p.phone_company}}</a>
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Extension Number:</strong> {{p.extension}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Contact Name:</strong> {{p.name_contact}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Mobile/Personal Number:</strong>
                                <a [href]="'tel:'+p.personal_phone">{{p.personal_phone}}</a>
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Business Activity:</strong> {{p.giro}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Bank:</strong> {{p.name_bank}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>ABA|Swift Code:</strong> {{p.clabe}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Last session:</strong> {{p.lastSession | date: 'MMMM d, y - hh:mmaaa'}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card mode="ios" *ngIf="p.status === 'Bloqueado'">
                    <ion-card-header color="danger">
                        <ion-card-subtitle class="ion-text-center">User Blocked</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-text>
                            Reason for blocking: {{p.reason_block}}
                        </ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-buttons class="">
                    <ion-button *ngIf="(p.status !== 'Activo')" fill="solid" shape="round" color="primary" (click)="activeUser(p.uid)">To Activate</ion-button>
                    <ion-button *ngIf="(p.status !== 'Bloqueado')" fill="solid" shape="round" color="primary" (click)="blockUser(p.uid)">Block</ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>