<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Missions Accomplished
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngIf="loading">
                <app-no-missions [type]="'You do not have any missions completed at this time'" [icon]="'rocket-outline'"></app-no-missions>
            </ion-col>
            <ion-col size-md="6" size="12" *ngFor="let mc of closedMission">
                <ion-card mode="ios">
                    <ion-card-header>
                        <ion-card-subtitle color="tertiary">FINISHED ON {{mc.type_contract.date | date: 'd/MM/y - hh:mmaaa'}}</ion-card-subtitle>
                        <ion-card-title color="secondary">
                            <h3>{{mc.name_position}}</h3>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none">
                            <ion-icon color="secondary" name="rocket-sharp" slot="start"></ion-icon>
                            <ion-label><strong>Mission Status:</strong>
                                <ion-chip color="medium">
                                    <ion-label>Accomplished</ion-label>
                                </ion-chip>
                            </ion-label>
                            <div tabindex="0" style="height: 0;"></div>
                        </ion-item>
                        <ion-buttons class="button">
                            <ion-button fill="solid" shape="round" color="primary" (click)="missionView(mc, 'mission')">Open Mission</ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>