<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/admin/reclutadores'" text="Back"></ion-back-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Recruiter
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed *ngIf="profile | async as p">
        <ion-row>
            <ion-col size="12" *ngIf="p.avatar">
                <ion-img [src]="p.avatar"></ion-img>
            </ion-col>
            <ion-col>
                <ion-card mode="ios">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size-md="6" size="12">
                                <strong>Recruiter Name:</strong> {{p.name}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Email:</strong> {{p.email}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Date of Birth:</strong> {{p.birthdate?.day+'/'+p.birthdate?.month+'/'+p.birthdate?.year}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Member Since:</strong> {{p.registerDate | date}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>TAX ID:</strong> {{p.taxId}}
                            </ion-col>
                            <ion-col size="12">
                                <strong>Current Address:</strong> {{p.address}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Last 4 digits to SSN:</strong> {{p.ssn}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Mobile Number:</strong>
                                <a [href]="'tel:'+p.personal_phone"> {{p.personal_phone}}</a>
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Nickname:</strong> {{p.nickname}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Areas of Interest:</strong> {{p.area_of_interest}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Education:</strong> {{p.level_of_study}}
                            </ion-col>
                            <!-- <ion-col size-md="6" size="12">
                                <strong>Giro:</strong> {{p.giro}}
                            </ion-col> -->
                            <ion-col size-md="6" size="12">
                                <strong>Bank:</strong> {{p.name_bank}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Routing number:</strong> {{p.clabe}}
                            </ion-col>
                            <ion-col size-md="6" size="12">
                                <strong>Last session:</strong> {{p.lastSession | date: 'MMMM d, y - hh:mmaaa'}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
                <ion-card mode="ios" *ngIf="p.status === 'Block'">
                    <ion-card-header color="danger">
                        <ion-card-subtitle class="ion-text-center">User Blocked</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-text>
                            Reason for blocking: {{p.reason_block}}
                        </ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <ion-buttons class="">
                    <ion-button *ngIf="(p.status !== 'Active')" fill="solid" shape="round" color="primary" (click)="activeUser(p.uid)">To Activate</ion-button>
                    <ion-button *ngIf="(p.status !== 'Block')" fill="solid" shape="round" color="primary" (click)="blockUser(p.uid)">Block</ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>