<ion-header [translucent]="true">
    <ion-toolbar mode="ios">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title-page">
            <ion-icon mode="ios" slot="icon-only" name="bulb-outline"></ion-icon>
            Canceled Missions
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngIf="loading">
                <app-no-missions [type]="'There are not Canceled Missions'" [icon]="'rocket-outline'"></app-no-missions>
            </ion-col>
            <ion-col size-md="6" size="12" *ngFor="let mc of cancelledMissions">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle color="tertiary">Created on {{mc.create_date | date: 'd/MM/y - hh:mmaaa'}}</ion-card-subtitle>
                        <ion-card-title color="secondary">
                            <h3>{{mc.name_position}}</h3>
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <ion-icon color="secondary" name="rocket-sharp" slot="start"></ion-icon>
                            <ion-label><strong>Mission Status:</strong>
                                <ion-chip color="danger">
                                    <ion-label>Cancelled</ion-label>
                                </ion-chip>
                            </ion-label>
                            <div tabindex="0" style="height: 0;"></div>
                        </ion-item>
                        <ion-item *ngIf="mc.request_refound">
                            <ion-icon name="cash-outline" slot="start"></ion-icon>
                            <ion-label><strong>Reimbursements:</strong>
                                <ion-chip color="success" *ngIf="mc.request_refound.status === 'Paid'">
                                    <ion-label>Paid</ion-label>
                                </ion-chip>
                                <ion-chip color="medium" *ngIf="mc.request_refound.status === 'Pending'">
                                    <ion-label>In Review</ion-label>
                                </ion-chip>
                                <ion-chip color="dark" *ngIf="mc.request_refound.status === 'Denegada'">
                                    <ion-label>Denied</ion-label>
                                </ion-chip>
                            </ion-label>
                            <div tabindex="0" style="height: 0;"></div>
                        </ion-item>
                        <ion-card-content *ngIf="mc?.reason_cancelled || mc.request_refound?.reason">
                            <ion-text>
                                <p *ngIf="mc?.reason_cancelled"><strong>Reason for Discard: </strong>{{mc.reason_cancelled}}</p>
                                <p *ngIf="mc.request_refound?.reason"><strong>Reason for Reimbursement: </strong>{{mc.request_refound.reason}}</p>
                            </ion-text>
                        </ion-card-content>
                        <ion-buttons>
                            <ion-button *ngIf="!mc.request_refound" fill="solid" shape="round" color="primary" (click)="openRefound(mc)">Request Refund</ion-button>
                            <ion-button fill="solid" shape="round" color="primary" (click)="missionView(mc, 'mission')">Browse Mission</ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>