<ion-card mode="ios" [ngClass]="{'contracted': contracted}">
    <ion-card-header mode="ios" color="primary" *ngIf="contracted; else noContracted">
        <ion-title>{{title || 'Candidate Information'}}</ion-title>
    </ion-card-header>
    <ng-template #noContracted>
        <ion-card-header mode="ios" color="secondary">
            <ion-title>{{title || 'Candidate Information'}}</ion-title>
        </ion-card-header>
    </ng-template>
    <ion-card-content>
        <ion-row>
            <ion-col size="12">
                <strong>Full  Name:</strong> {{candidate.name}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Years of Experience:</strong> {{candidate.years_of_experience}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Gender:</strong> {{candidate.sex}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Education:</strong> {{candidate.studies}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Citizenship:</strong> {{candidate.nationality}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>US Citizent/ US Resident/US Work Visa:</strong> {{candidate.work_permit}}
            </ion-col>
            <ion-col *ngIf="contracted" size-md="6" size="12">
                <ion-text color="danger">
                    <strong>Mobile Number:</strong> <a href="tel:+{{candidate.phone}}">{{candidate.phone}}</a>
                </ion-text>
            </ion-col>
            <ion-col *ngIf="contracted" size-md="6" size="12">
                <ion-text color="danger">
                    <strong>Email:</strong> <a href="mailto:{{candidate.email}}">{{candidate.email}}</a>
                </ion-text>
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Last 4 digits to SSN:</strong> {{candidate.ssn}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Availability:</strong> {{candidate.availability}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Travel Availability:</strong> {{candidate.travel}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>Date of Birth:</strong> {{(candidate.birthdate?.day || 0)+'/'+(candidate.birthdate?.month || 0)+'/'+(candidate.birthdate?.year || 0)}}
            </ion-col>
            <ion-col size-md="6" size="12">
                <strong>English:</strong> {{candidate.ingles}}
            </ion-col>
            <ion-col size="12">
                <strong>Joined on:</strong> {{candidate.create_date | date: 'MMMM d, y - hh:mmaaa'}}
            </ion-col>
            <ion-col size="12">
                <strong>Place of Birth:</strong> {{candidate.place_of_birth}}
            </ion-col>
            <ion-col size="12">
                <strong>Current Address:</strong> {{candidate.address}}
            </ion-col>
            <ion-col size="12">
                <strong>Skills:</strong> {{candidate.skills}}
            </ion-col>
            <ion-col size="12">
                <strong>Courses/Certifications:</strong> {{candidate.courses_and_certi}}
            </ion-col>
            <ion-col size="12">
                <strong>Software Skills:</strong> {{candidate.specialized_software}}
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-text>
                    <h5><strong>Working Experience</strong></h5>
                </ion-text>
            </ion-col>
            <ion-col size="12" *ngIf="!(!candidate.achievements_1 && !candidate.company_1 && !candidate.position_1 && !candidate.period_1)">
                <ion-card mode="ios" class="experience">
                    <ion-card-header class="ion-text-center">Company 1</ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="12">
                                <strong>Company name: </strong> {{candidate.company_1}}
                            </ion-col>
                            <ion-col size="6">
                                <strong>Working Period: </strong> {{candidate.period_1}}
                            </ion-col>
                            <ion-col size="6">
                                <strong>Job Title: </strong> {{candidate.position_1}}
                            </ion-col>
                            <ion-col size="12">
                                <strong>Main Achievements: </strong> {{candidate.achievements_1}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" *ngIf="!(!candidate.achievements_2 && !candidate.company_2 && !candidate.position_2 && !candidate.period_2)">
                <ion-card mode="ios" class="experience">
                    <ion-card-header class="ion-text-center">Company 2</ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="12">
                                <strong>Company name: </strong> {{candidate.company_2}}
                            </ion-col>
                            <ion-col size="6">
                                <strong>Working Period: </strong> {{candidate.period_2}}
                            </ion-col>
                            <ion-col size="6">
                                <strong>Job Title: </strong> {{candidate.position_2}}
                            </ion-col>
                            <ion-col size="12">
                                <strong>Main Achievements: </strong> {{candidate.achievements_2}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" *ngIf="!(!candidate.achievements_3 && !candidate.company_3 && !candidate.position_3 && !candidate.period_3)">
                <ion-card mode="ios" class="experience">
                    <ion-card-header class="ion-text-center">Company 3</ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="12">
                                <strong>Company name: </strong> {{candidate.company_3}}
                            </ion-col>
                            <ion-col size="6">
                                <strong>Working Period: </strong> {{candidate.period_3}}
                            </ion-col>
                            <ion-col size="6">
                                <strong>Job Title: </strong> {{candidate.position_3}}
                            </ion-col>
                            <ion-col size="12">
                                <strong>Main Achievements: </strong> {{candidate.achievements_3}}
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12">
                <strong>Additional comments for this position:</strong> {{candidate.comments}}
            </ion-col>
            <ion-col size="12" *ngIf="candidate.curriculumVideo">
                <strong>Enlace a video Curriculum:</strong> <a [href]="candidate.curriculumVideo" target="_blank" rel="noopener noreferrer">{{candidate.curriculumVideo}}</a>
            </ion-col>
            <ion-col size="12" *ngIf="candidate.cv">
                <ion-card mode="ios">
                    <ion-card-header color="primary">
                        <ion-title>Download Resume</ion-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item lines="none">
                            <ion-label color="secondary">{{candidate.cv.name}}</ion-label>
                            <ion-icon class="cursorP" color="secondary" (click)="watch()" slot="end" name="eye" style="height: 20px; width: 20px;"></ion-icon>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>